/* selector universal */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(../IMAGENES/distorted-sun@3000x2000px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

a {
    color: inherit
}

img, video, iframe {
    max-width: 100%;
    height: auto;
}
 /* hacia arriba lo general y compartido*/

 /*hacia abajo las clases*/

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 600px;
    margin: 0 auto;
    height: 400px;
}

.header, main, footer{
    max-width: 650px;
    margin: 0 auto;
}

.main{
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;


}

.footer{
    height: 16rem;
    display: flex; /*obligatorio cuando queremos usar Flexbox, esto va en el padre directo para mover a los hijos*/
    flex-direction: column; /*aplica el eje principal*/
    justify-content: space-evenly; /*controla el eje principal horizontal dependiendo de flex direction*/
    align-items:center; /*controla el eje secundario dependiendo de flex direction; seria LO CONTRARIO*/

}

.footer img{
    border-radius: 20px;
    width: 80%;
}

.header__logo{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;   
    border-radius: 50%;
}

.header__titulo{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:3px;
}

.header__descripcion{
    text-align: center;
    font-style: italic;
}

main{
    text-align: center;
}

.Enviar{
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    background-color: blueviolet;
    color: aliceblue;
}

.Enviar:hover{
    background-color: rgb(211, 9, 144);
    transition: ease-out;
}

.section1{
    padding: 5rem;
    height: 7rem;
}

.section1__item{
   list-style-type:none;
   border-radius: 5px;
}

.section1__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section1__enlace{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: ease-in;
    transition-duration: 0.3s;
    transition-delay: .2s;
    border-radius: 5PX;
    background-color:antiquewhite;
    width: 500PX;
    text-transform: uppercase;
    text-decoration: solid;
}

.section1__enlace:hover{
    background-color: rgb(211, 9, 144);
    transition: ease-out;
}

/*Medias querys // Se recomiendan cargarse al final del archivo de estilos*/

@media (max-width: 768px) {
    .header__titulo{
        font-size: 250%;
    }

    .section1__enlace{
        width: 85%;
    }

    .footer{
        width: 75%;
    }
}

